.heading1 {
    padding-left: 20px;
    padding-bottom: -10px;
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
}

.heading-text {
    padding: 0px 20px;
    font-size: 18px;
    text-align: center;
}

.about_img {
    width: 85vmin;
    height: 200px;
    padding: 20px;
    border-radius: 4px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
   
}